html, body {
    border: 1px solid black;
    height: 100%;
    width: 100%;
  }
  #first {
    border: 1px solid red;
    background-color: #485B85;

  }
  #rules {
    background-color: #819BB1;
    display: flex;
    border-style: ridge;
    width: 30%;
    height: 30%;
    flex-direction: column;;
    justify-content: center;
  border-radius: 30,30,60,30;
  border: 2px solid black;
  justify-items: center;
 }
.container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: 3px solid lime;
}
  h1{
    font-family: 'Upheaval TT (BRK)';
    font-size: 48px;
    text-align: center;
  }
  h2{
    font-size: 28px;
    text-align: center;
   font-family: 'Upheaval TT (BRK)';
  }
  ul{
    font-size: 20px;
    font-family: 'Upheaval TT (BRK)';
  }